.closed{
    display: none;
}

.open{
    display: block;
}

a{
    text-decoration: underline;
    cursor: pointer;
}

a:hover{
    color:blue;
}

body {
    background-color: #324266;
}

header {
    color: white;
    text-align: center;
    font-family: 'Arial';
}


header .logo{
    font-size: 50px;
    text-align: center;
}

.container {
    display: flex;
    padding-top: 50px;
}

.formulario{
    color:black;
    width: 25%;
    padding: 1%;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: rgba(233, 227, 227, 0.746);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial';
}

h2 {
    font-family: 'Arial Black';
    font-size: 25px;
}

input[type=text], input[type=password], input[type=date], select{
    width: 250px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
}

input[type=submit], button{
    font-size: 20px;
    background-color: white;
    border: 2px solid #324266;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

input[type=submit]:hover, button:hover{
    background: #324266;
    color: white;
}